/*=========================================
    LOADING SCREEN
=========================================*/

.loading-screen{

    position:fixed;
    inset:0;

    background:var(--color-bg);

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    z-index:9999;

    transition:opacity 1s ease,
               visibility 1s ease;

}

.loading-screen.hide{

    opacity:0;
    visibility:hidden;

}

.loading-title{

    font-family:var(--font-heading);

    font-size:clamp(2.5rem,7vw,4rem);

    color:var(--color-text);

    letter-spacing:2px;

}

.loading-subtitle{

    margin-top:12px;

    color:var(--color-text-soft);

    font-size:1rem;

}

.loading-line{

    margin-top:35px;

    width:180px;
    height:2px;

    background:rgba(255,255,255,.08);

    overflow:hidden;

    border-radius:999px;

}

.loading-progress{

    width:0%;

    height:100%;

    background:linear-gradient(
        90deg,
        var(--color-accent),
        var(--color-accent-blue)
    );

    animation:loadingBar 3s ease forwards;

}

@keyframes loadingBar{

    from{

        width:0%;

    }

    to{

        width:100%;

    }

}